html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  --height: 100vh;
}

h1 {
  font-weight: 400;
  font-size: 7rem;
  line-height: 1.2;
  margin: 0;
  display: inline-block;
  color: white;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

header {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  /* position: fixed; */
}

.navigation {
  width: 40%;
  margin: 0 auto;
}

.navigation ul {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}

.navigation li a {
  font-size: 1.4rem;
  color: white;
  text-transform: uppercase;
  list-style-type: none;
  text-decoration: none;
}

.brand {
  text-decoration: none;
  text-transform: uppercase;
}

.brand p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin: 10px auto 0;
  font-size: 3rem;
}

.brand span {
  font-weight: 300;
}

.hero-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/bradley-dunn-9SGGun3iIig-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
}

.hero-text {
  padding-bottom: calc(var(--height) * 0.15);
}

.hero-p {
  font-size: 1.8rem;
  min-width: 430px;
  width: 45%;
  margin: 50px auto;
  color: white;
}

.explore-btn {
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgba(27, 27, 27, 1);
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 13px 35px;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.explore-btn:hover {
  background-color: rgba(27, 27, 27, 0.7);
}

.container {
  width: 80%;
  margin: 0 auto;
}

.our-service-container {
  margin-top: calc(var(--height) * 0.2);
  display: flex;
  justify-content: space-evenly;
}

.our-service-card {
  width: 30%;
  text-align: center;
}

.our-service-card img {
  width: 30%;
}

.our-service-p {
  font-size: 1.5rem;
}

#our-products {
  text-align: center;
}

.our-products-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#our-products h2:nth-child(2) {
  text-align: left;
  font-weight: 300;
}

.our-products-card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 22%;
  height: calc(var(--height) * 0.5);
  border-radius: 7px;
  margin: 10px 0;
}

.our-products-card:nth-of-type(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/images/person-doing-snowboarding.jpg");
}

.our-products-card:nth-of-type(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/images/woman-snow-outfit.jpg");
}

.our-products-card:nth-of-type(3) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/images/man-wearing-blue-jacket.jpg");
}

::selection {
  background: #e0ebe8;
  color: #545454;
  text-shadow: none;
}

/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */
