html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  --height: 100vh;
}

h1 {
  font-weight: 400;
  font-size: 7rem;
  line-height: 1.2;
  margin: 0;
  display: inline-block;
  color: white;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

header {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  /* position: fixed; */
}

.navigation {
  width: 40%;
  margin: 0 auto;
}

.navigation ul {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}

.navigation li a {
  font-size: 1.4rem;
  color: white;
  text-transform: uppercase;
  list-style-type: none;
  text-decoration: none;
}

.brand {
  text-decoration: none;
  text-transform: uppercase;
}

.brand p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin: 10px auto 0;
  font-size: 3rem;
}

.brand span {
  font-weight: 300;
}

.hero-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/bradley-dunn-9SGGun3iIig-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
}

.hero-text {
  padding-bottom: calc(var(--height) * 0.15);
}

.hero-p {
  font-size: 1.8rem;
  min-width: 430px;
  width: 45%;
  margin: 50px auto;
  color: white;
}

.explore-btn {
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgba(27, 27, 27, 1);
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 13px 35px;
  border-radius: 6px;
  /* transition and fallback transitions */
  -moz-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.explore-btn:hover {
  background-color: rgba(27, 27, 27, 0.7);
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* ------ our service section ------ */

.our-service-container {
  margin-top: calc(var(--height) * 0.2);
  display: flex;
  justify-content: space-evenly;
}

.our-service-card {
  width: 30%;
  text-align: center;
}

.our-service-card img {
  width: 30%;
}

.our-service-p {
  font-size: 1.5rem;
}

/* ------ our products section ------ */

#our-products {
  text-align: center;
}

.our-products-container {
  display: flex;
  justify-content: space-evenly;
}

#our-products h2:nth-child(2) {
  text-align: left;
  font-weight: 300;
}

.our-products-container a {
  width: calc(100% / 5);
  height: calc(var(--height) * 0.5);
  display: inline-block;
  text-decoration: none;
  font-family: "Karla", sans-serif;
}

.all-products-card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("/images/low-angle-photography-of-man-wearing-blue-jacket-carrying-848607.jpg");
}

.all-products-card span {
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.all-products-card:hover span {
  opacity: 1;
}

/* ------ products cards ------ */

.product-card {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  -moz-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  color: black;
  position: relative;
}

.product-card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 80%;
  padding-top: 15px;
}

.name {
  font-size: 1.6rem;
  font-weight: 700;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 40px;
}

.price {
  font-size: 1.4rem;
  font-weight: 400;
  color: grey;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 20px;
}

::selection {
  background: #e0ebe8;
  color: #545454;
  text-shadow: none;
}

/*font-family: 'Karla', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */
